<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
		<key>GIDClientID</key>
		<string>472579060139-blnqgalia0j6e6rurmbodfcrq9rf9csb.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.472579060139-blnqgalia0j6e6rurmbodfcrq9rf9csb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access to scan food items.</string>
</dict>
</plist>
